#!/usr/bin/env python

# Copyright 2016, Rackspace US, Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

import apt
import sys

cache = apt.Cache()
es_pkg = cache['elasticsearch']

es_version = es_pkg.installed.version

if es_pkg.installed.version == '{{ elasticsearch_version }}':
    print("Latest version of elasticsearch installed. Skipping upgrade.")
    sys.exit(1)
    elif es_pkg.installed.version == '{{ elasticsearch_reindex_version }}':
    print("Version {{ elasticsearch_reindex_version }} of elasticsearch \
           installed, it is likely that there is a reindexing in progress. \
           Aborting upgrade.")
    sys.exit(2)
else:
    sys.exit(0)
